<!DOCTYPE html> 
<html ng-app="MyApp">
<head>
<link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="./css/shared.css" />
<link rel="stylesheet" type="text/css" href="./styles.css" />
</head>
<body>

  <div class="row">

    <div class="left-col" class="page-list" ng-controller="ListCtrl">
          <input type="text" ng-model="search">
      <a href="" ng-repeat="user in users | filter:search " ng-mouseenter="selectUser(user)" class="user-listing">
        {{ user.full_name }}
      </a>
    </div>

    <div class="right-col" class="page-details" ng-controller="DetailCtrl">
      <div ng-if="!currentUser" class="panel">
        <p>You have <strong>not selected an employee</strong></p>
      </div>
      <div ng-if="currentUser" class="panel row">
        <img ng-src= "{{ path }}" class="col-md-4" />
        <div class="col-md-8">
          <p><strong>Name: </strong> {{ currentUser.first_name }} {{ currentUser.last_name }}</p>
          <p><strong>Id: </strong> {{ currentUser.id }}</p>
          <p><strong>Photo: </strong> {{ currentUser.picture }}</p>
          <p><strong>Rank: </strong> {{ currentUser.rank }}</p>
          <p><strong>Classification: </strong> {{ currentUser.classification }}</p>
          <p><strong>Status: </strong> {{ currentUser.status }}</p>
        </div>
      </div>
    </div>

  </div>

  <script type="text/javascript" src="./angular.js"></script>
  <script type="text/javascript" src="./angular-route.js"></script>
  <script type="text/javascript" src="./app.js"></script>
</body>
</html>
